

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic:ital,wght@1,300&display=swap');
/* 
font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Livvic', sans-serif;
 */



html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    /* Theme Colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;
    /* Gradient Color  */
    --sky:linear-gradent(120deg, #a1c4fd 0% , #c2e9fb 100%);
    --minHeight:10vh;
    --Abel:'Abel' , sans-serif;
    --Anton: 'Anton' , sans-serif ;
    --Josefin: "Josefin Sans" , sans-serif;
    --Lexend: "Lexend Deca" , sans-serif;
    --Livvic: "Livvic" , sans-serif ;
}

/* --------------------- Global Style --------------------- */
a{
    text-decoration: none;
    color: var(--text-gray);
}
ul{
    list-style-type: none;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    
}

.text-gray{
    color: var(--text-gray);
}

.btn{
    padding: 1rem 2rem;
    background-color: rgb(179, 179, 231) ;
    border-radius: 10px;
    border: none;
}

p{
    color: var(--text-light);
    /* font-family: var(--Anton); */
    font-family: var(--Lexend);
}

h2{
    font-family: var(--Abel);
}

/*-------------------------- NavBar --------------------------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: var(--minHeight);
    position: sticky;
    top: 0px;
    min-height: var(--minHeight);
    
    
    transition: height 0.7s ease-in-out;
    
    
}

.collapse{
    height: 60vh;

    
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block ;
    font-family: var(--Abel);
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    display: none;
    cursor: pointer;
    
}


.nav .toggle-collapse .toggle-icons{
    display: flex;
    padding: 1.7em 0;
    justify-content: flex-end;
    
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.7rem;
}
.nav-menu{
    justify-content: space-between;
}
.nav .nav-items{
    display: flex;
    margin: 0px;
    
    
}

.nav .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Lexend);
    transition: 0.2s;
    
    }
    
.nav .nav-link:hover{
    background-color: var(--midnight);
    color: white;

}
.nav .nav-link:hover a{
    color: white;
}



.nav .social{
    padding: 1.4rem 0;
}

.social i{
    padding: 0px .2rem;
}

.social i:hover{
    color: #a1c4cf;
}

/* The Showcase */

main{
    position: relative;
    z-index: 1;
}

main .showcase{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    
    justify-content: center;
}

main .showcase .showcase-content{
    text-align: center;
    padding-top: 10rem;
    color: white;
    margin: 0px;
}


main .showcase .showcase-content h2{
    font-family: var(--Abel);
    font-size: 1.3rem;
    margin: 0px;
}

main .showcase .showcase-content  {
    font-family: var(--Lexend);
    font-size: 2.5rem;
    margin-top: 10px;
}

main .showcase .showcase-content button{
    background-color:rgb(179, 179, 231);
    padding: 1rem 3rem;
    border-radius: 10px;
    
    border: none;
    transition: .5s;
    font-family: var(--Anton);
}

main .showcase .showcase-content button:hover{
    background-color: transparent;
    border: 1px dashed white;
    color: white;
}


/*--------------- Blog Carousel----------------- */
main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog img{
    border-radius: 10px 10px 0px 0px ;
}
main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0 , 0 , 0 ,0.2);
    border-radius: 20px;
    

}



main .blog-content .blog-title{
    padding: 2rem 0px;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    border-radius: 10px;
    border: none;
    margin: .5rem;
    background-color: rgb(179, 179, 231);
    font-weight: bold;
}

main .blog-content span{
    display: block;
    font-family: var(--Abel) ;
}

.container{
    margin: 0 5vh;
}

section .container .owl-nav{
    position: absolute;
    top: 0px;
    width: 100%;
    margin: auto;
}

/* What the Below code for the styling of the nav is that , although we do not have the class in our index file , what is just happening is that the code is been picked conventionally from the owl Documentation 
 */

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    font-size:  2rem;
    background: transparent;
}
.owl-theme .owl-nav[class*='owl-']:hover{
    background-color: transparent !important;
    color: var(--text-gray);
}



/*------------x----- Blog Carousel--------------x-------- */

/*----------------- Site Content ------------------- */
main .site-content{
    display:grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    /* margin-bottom: 5rem; */
    width: 100%;
}

main .site-content .post-content > .post-image,.post-title{
    
    padding: 1rem 2rem;
    position: relative;
}
main .site-content .post-content > .post-image .post-info{
    background: rgb(179, 179, 231) ;
    /* width: 100%; */
    padding: 1rem;
    position: absolute;
    border-radius: 50px;
    bottom: 0px;
    /* top: 0px; */
    left: 18vw;
}

main .site-content .post-content > .post-image >div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: 1s ease;
    border-radius: 10px;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-info > span{
    margin: 0.5rem;
}

main .post-content .post-title a{
    font-family:  var(--Anton);
    font-size: 1.5rem;
    font-weight: bold;
}

main .site-content .post-content .post-title .post-btn{
    padding: .7rem 1.5rem;
}

.site-content .pagination{
    display: flex;
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    /* border-radius: 2rem; */
    margin: 0.3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{
    border-radius: 2rem;

    background: var(--text-gray);
    color: white;
}
/*----x-------------- Site Content ------------x-------*/

/*-------------------- SideBar ---------------- */
.site-content > .sidebar .category-list{
    font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items{
    background: rgb(179, 179, 231) ;
    padding: 0.4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.site-content > .sidebar .category-list .list-items a{
    color: black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important ;
    bottom: 0rem !important;
    left: 2.5rem !important;
    /* background-color: white !important; */
    border-radius: 4px !important;
    font-size: 12px;

    /* width: 80% !important; */

}

.site-content .sidebar .popular-post .post-title a{
    font-size: 16px;
}

.thePadding{
    padding-bottom: 50px;
}

.site-content .sidebar .newsletter{
    padding: 3rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 4px;
    padding: 0.8rem 32%;
    margin: 1rem 0;
}

.site-content .sidebar .popular-tags{
    padding: 4rem 0px;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: rgb(179, 179, 231) ;
    padding: .4rem 1rem;
    border-radius: 3rem;
    display: inline-block;
    margin: 0.4rem .6rem;
}
/* -------x---------==SideBar  -----------x------0-0*/




/* The Showcase Emd */


/* --------------------Footer ----------------- */

footer.footer{
    height: 100% ;
    background-color: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr  ) ;
}

footer.footer .container >div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background-color: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 75%;
}

footer.footer .newsletter .form-element span{
    background: rgb(179, 179, 231);
    cursor: pointer;
    padding: .5rem 0.9rem;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0.4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);

}

footer.footer .rights a{
    color: white ;
}

footer.footer .move-up{
    position: absolute;
    top: 50%;
    right: 6%;
}

footer.footer .move-up span{
    color: var(--midnight);
    transition: .3s;
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}


/*---------x-------------- footer --------------x--------------- */

@media (max-width:1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 0 !important;
        border-radius: 12px !important;

    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }
    footer.footer .container{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media (max-width:750px){
    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: 100%;
    }
}

@media (max-width:520px){
    main .blog{
        height: 125vh !important;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer .rights{
        padding: 0 1.4rem !important;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }
}

@media(max-width:900px){
    .nav-menu , .nav-items{
        display: flex;
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial ;
    }

    
    
}